<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Converter number</title>
</head>
<body>
      <h1>2k10</h1>
      <form method="post" th:action="@{/converter}">
        <input type="text" name="binaryNumber" placeholder="binaryNumber">
          <button>Push</button>
      </form>
      <th:block th:if="${decimalNumber !=null}">
      <p>decimalNumber = [[${decimalNumber}]]</p>
      </th:block>

      <h1>2k16</h1>
      <form method="post" th:action="@{/converter}">
          <input type="text" name="binaryNumberPath2" placeholder="binaryNumberPath2">
          <button>Push</button>
      </form>
      <th:block th:if="${hexNumber != null}">
      <p>toHex = [[${hexNumber}]]</p>
      </th:block>

      <h1>10k2</h1>
      <form method="post" th:action="@{/converter}">
          <input type="text" name="decimalNumber" placeholder="decimalNumber">
          <button>Push</button>
      </form>
      <th:block th:if="${binaryNumber != null}">
      <p>binaryNumber = [[${binaryNumber}]]</p>
      </th:block>

      <h1>16k2</h1>
      <form method="post" th:action="@{/converter}">
          <input type="text" name="hexNumber" placeholder="hexNumber">
          <button>Push</button>
      </form>
      <th:block th:if="${binaryNumberPath2 != null}">
      <p>binaryNumberPath2 = [[${binaryNumberPath2}]]</p>
      </th:block>
</body>
</html>